.container{
    width: 60%;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
  
   
}


.premiere {
display: flex;
width: 90%;
height: 90%;
justify-content: space-around;
    
    
} 


.deuxieme {
    display: flex;
    width: 10%;
    height: 10%;
  border: 2px solid red;
  display: flex;
        
        
    }
.premiere img{
    width:100% ;
    height: 100%;
    border-radius: 25px;
    
    
}   
/* .deuxieme{
    width: 60%;
    height: 100%;
} */